<body>
  <div class="container">
  <!---heading---->
      <header class="heading">Registration-Form </header>
   <!---Form starting----> 
   <form #Registration="ngForm">
     
   <div class="row ">
    <!--- For Name---->
          <div class="col-sm-12">
              <div class="row">
            <div class="col-xs-4">
                      <label class="firstname">First Name :</label> </div>
              <div class="col-xs-8">
                  <input type="text" name="fname" id="fname" class="form-control " [(ngModel)]="user.FirstName" >
              </div>
           </div>
      </div>
      
      
          <div class="col-sm-12">
          <div class="row">
            <div class="col-xs-4">
                      <label class="lastname">Last Name :</label></div>
         <div class ="col-xs-8">	 
                  <input type="text" name="lname" id="lname" class="form-control last" [(ngModel)]="user.LastName">
                 </div>
          </div>
      </div>
      <!-----For email---->
      <div class="col-sm-12">
          <div class="row">
            <div class="col-xs-4">
                  <label class="mail" >User name :</label></div>
            <div class="col-xs-8"	>	 
                 <input type="username" name="username"  id="username"class="form-control"  [(ngModel)]="user.UserName" required>
              </div>
          </div>
      </div>
    <!-----For Password and confirm password---->
           <div class="col-sm-12">
              <div class="row">
              <div class="col-xs-4">
                      <label class="pass">Password :</label></div>
           <div class="col-xs-8">
                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.Password" required>
          </div>
           </div>
       </div>
       
     
          
          <div class="col-sm-12">
              
              <button type="submit" class="btn btn-success" (click)="onSubmit()" >Submit</button>

      </div>
    </div>	 
           
  </form>
 </div>
 
 </body>	